---
---

html {
    box-sizing: border-box;

  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

$black:#272727;
$green: #00b0a0;
$grey: #edf8f6;
$red: #cc5a71;
$purple: #67597a;


body{
    margin: 0;
    background-color:white;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    @media screen and (max-width: 670px) {
        font-size: 16px;
     }
}

h1, h2, h3{
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
}

.header{
    color:$black;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

svg{
    height: 8rem;
    display:inline-block;
}

em{
    font-family: 'Abril Fatface', cursive;
    font-style: normal;
    font-size: 1.3rem;
}

.brwrInfo{
    width: 78ch;
    margin: 0 auto;

    @media screen and (max-width: 670px) {
        width: 100%;
     }
}

.logo{
    text-align: center;
    font-size: 3rem;
    margin:0;

    span{
        text-align:center;
        font-size: 1.8rem;
        display: block;
        font-family: 'Roboto', sans-serif;
    }
}


@import "monokai";

figure{
    margin:0;
    font-size: .85rem;
}
pre{
    background-color: #193549;
    color:whitesmoke;
    font-family: 'Roboto Slab', serif;
    padding:15px 0;
    line-height: .50rem;
    border-radius: 5px;
    overflow: scroll;
}

.siteFooter{
    width: 100%;
    padding:15px;
}

a, a:hover, a:visited, a:active{
    color:$green;
}

li{
    padding:.50rem;
}

