<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FFD700">
  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="shortcut icon" href="{{ site.url }}/images/favicon.ico" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto|Roboto+Slab" rel="stylesheet">
</head>
<body>